h1{
  color: #E8FCCF;
  font-size: 35px;
}
h2{
  color: #3DA35D;
}
body{
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  background-color: #031926;
}
section{
  border-color: #96E072;
  border-style: solid;
  border-radius: 100px;
  margin-bottom: 20px;
}
p{
  color: #D8CFAF;
}
button{
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
input{
  height: 35px;
}
